*{
	box-sizing:border-box;
}

/* 
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)

	@GCG something more, something less...
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

a{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	cursor:pointer;
}

input,
textarea,
button{
	outline: none;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*** 
	CASA 
***/


/* 
	FONTS
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto:300,400');

/*
	TYPOGRAPHY
*/

html{
	font-size:62.5%; /* 10px base for REM unit measures */
}

html, body{
	font-family:'Open Sans', sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6{
	font-weight:300; font-family:'Roboto', sans-serif;
}

p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time{
	font-family:'Open Sans', sans-serif;
}

strong, b{
	font-weight:400;
}

em, i{
	font-style:italic;
}

svg{
	pointer-events:none;
}

button{
	color:inherit;
	background:inherit;
	cursor:pointer;
}

/* 
	GRID 
*/

html, body{
	height: 100%;
	background-color: #f1f1f1;
}

#app{
	position:relative;
	min-height:100%;
}

/* site container */

.root{
	padding-bottom:27.5rem;	/* footer height */
}

.root.notFoundPage{
	padding-bottom:24.5rem;
}

.sw{
	margin:0 auto;
	max-width:1140px;
}

.content .sw{
	padding:0 1rem;
}

@media screen and (min-width: 736px) { /* Tablet */

	.content .sw{
		padding:0 2rem;
	}

}

@media screen and (min-width: 950px) { /* Desktop */

	.sw{
		margin:0 2rem;
	}	

	.content .sw{
		padding:0;
	}

}

@media screen and (min-width: 1180px) { /* Desktop */

  .sw{
    margin:0 auto;
  }

}